@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.heart-button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.heart-button:hover {
  transform: scale(1.2);
}

.heart-button.liked {
  color:#BA790B ;
}
@media (min-width: 380px) {
  .xs{
    width: 2.5rem; /* 10/4 = 2.5 */
  }
  .xs {
    height: 2.5rem; /* 10/4 = 2.5 */
  }
  .xs{
    transform: rotate(180deg);
  }
  .xs{
    position: absolute;
  }
  .xs{
    left: 3rem; 
  }
  .xs {
    top: 2.5rem; 
    
  }
  .xs1{
    flex-direction: column;
    transition-duration: 10ms;
    margin-left: -4rem;
  }
  .xs2{
    margin-left: 80px;
  }
  .xs3{
    width: 300px;
  }
  .xs4{
    flex-direction: column;
  }
  .xs5{
    display: flex;
  }
  .xs6{
    width: 33.333333%;
  }
  .xs7{
    width: 33.333333%;
  }
  .xs8{
    width: 33.333333%;
  }
  .xs9{
    margin-top: 2.5rem/* 40px */;
  }
  .xs10{
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-left: 6rem/* 40px */;
    margin-right: 6rem/* 40px */;
    gap: 2rem;
  }
  .xs11{
    width: 500px;
  }
  .xs12{
    padding-left:50px ;
    padding-right:50px ;
    font-size: 1rem;
    text-align: center;
    margin-left: 150px;
  }
  .xs13{
   
    margin-left: 7rem;
    
  }
  .xs15{
    
    margin-left: 7rem;
  }
  .xss{
    
    flex-direction: column;
  }
  .xss1{
    margin-bottom: 1.5rem;
  }
  .xss2{
    margin-bottom: 3rem;
    margin-top: 1.5rem;
  }
  .xG{
    margin-right: 1rem;
    width: 33.333333%;
  }
  .xsl{
    width: 50%;
  }
  .xsl1{
    margin-left: 5rem;
    padding-left: 30.5px;
    padding-right: 30.5px;

  }
  .xGG{
    margin-left: 0.6rem/* 48px */;
    margin-right: 0.2rem/* 48px */;
  }
   .ss{
    margin-left: 2.5rem/* 40px */;
    margin-right: 1rem/* 16px */;
    flex-direction: column;
   }
   .ss1{
    width: 500px;
    height: 300px;
   }
   .ss2{
    margin-top: 2rem/* 32px */;
   }
   .ss3{
    margin-left: 1.5rem;
    margin-top: 2rem;
   }
   .ss4{
    width: 50%;
   }
   .ss5{
    margin-left: 2rem;
   }
   .ss6{
    margin-left: 0.8rem;
   }
   .ss7{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0.2rem;
   }
   .tm{
    margin-left: 8rem;
   }
}



