@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.heart-button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.heart-button:hover {
  transform: scale(1.2);
}

.heart-button.liked {
  color:#BA790B ;
}


